.container__navigation {
  display: flex;
  gap: var(--header-gap);
}

.container__item {
  color: var(--input-backg-color);
  font-weight: var(--text-weight);
  font-size: var(--paragraph-size);
}

.container__item:hover {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--light-yellow);
  cursor: pointer;
}
