.button {
  background-color: transparent;
  border: none;
  border-radius: var(--input-border-r);
  color: var(--input-text-active);
  padding: var(--button-heigth) var(--button-width);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: var(--paragraph-size);
  cursor: pointer;
}

.button__yellow{
  border: var(--button-border-t) solid var(--light-yellow);
  transition-duration: var(--button-transition);
}

.button__yellow:hover{
  background-color: var(--light-yellow);
}

.button__yellow:active{
  background-color: var(--dark-yellow);
  border: var(--button-border-t) solid var(--light-yellow);
}

.button__yellow--disabled{
  background-color: var(--dark-yellow);
  border: var(--button-border-t) solid var(--dark-yellow);
  opacity: var(--button-opacity);
  cursor: not-allowed;
}

.button__blue{
  border: var(--button-border-t) solid var(--light-blue);
  transition-duration: var(--button-transition);
}

.button__blue:hover{
  background-color: var(--light-blue);
  color: var(--input-backg-color);
}

.button__blue:active{
  background-color: var(--dark-blue);
  border: var(--button-border-t) solid var(--dark-blue);
}

.button__blue--disabled{
  background-color: var(--dark-blue);
  border: var(--button-border-t) var(--dark-blue);
  opacity: var(--button-opacity);
  cursor: not-allowed;
}
