:root {
  --light-yellow: #ffe21d;
  --dark-yellow: #ffd21d;
  --light-blue: #24afff;
  --dark-blue: #248bff;
  --salmon: #f26c6c;
  --green: #27b667;
  --ligth-gray: rgb(182, 179, 179);
  --standard-font: "Montserrat", serif;
  --title-size: 40px;
  --paragraph-size: 16px;
  --text-color: black;
  --text-weigth: bold;
  --small-padding: 28px;
  --medium-paddin: 50px;
  --large-paddin: 100px;
}
