:root {
  /* Colors */
    --light-yellow: #ffe21d;
    --dark-yellow: #ffd21d;
    --light-blue: #24afff;
    --dark-blue: #248bff;
    --salmon: #f26c6c;
    --green: #27b667;
    --ligth-gray: rgb(182, 179, 179);
  
    /* Fonts */
    --standard-font: "Montserrat", serif;
    --title-size: 40px;
    --paragraph-size: 20px;
    --text-color: black;
    --text-weigth: bold;
  
    /* Paddings blocks */
    --small-padding: 28px;
    --medium-paddin: 50px;
    --large-padding: 100px;
  
    /* Input */
    --width-input: 600px;
    --heigth-input: 400px;
    --input-width: 20px;
    --input-height: 12px;
    --input-border-r: 28px;
    --input-border-t: 3px;
    --input-backg-color: white;
    --input-text-color: gray;
    --input-text-active: black;
    --input-text-size: 20px;
    --input-opacity: 0.6;
  
    /* Buttons */
    --button-width: 32px;
    --button-heigth: 15px;
    --button-border-t: 2px;
    --button-transition: 0.4s;
    --button-opacity: 0.5;
  
    /*Standard Measures*/
    --heigth-std: 100%;
    --height-header: 50px;
    --full-screen: 100vh;
    --header-gap: 150px;
  }
